.login-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-page {
    margin: 35px auto 0;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #777;
    width: 350px;
    padding: 20px 20px;
}

.login-page h4 {
    text-align: center;
}

.back {
    margin-top: 20px;
    background-color: white;
}

#login-btn  {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loading {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border: 4px solid rgba(255,255,255,.75);
    border-radius: 50%;
    border-top-color: #673bb7;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    box-sizing: unset;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}

.invalid {
    padding: 5px 15px;
    margin: 15px auto -10px;
    border: 1px solid #9e0000;
    background-color: #ffc4c4;
    color: #570000;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.invalid p {
    margin: 0.5em 0;
}


.invalid i {
    margin-right:-5px;
    cursor: pointer;
}